{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false
        },
        "loose": true,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator"
  ]
}
