html, body {
  margin: 0
  padding: 0
  width: 100%
}

body {
  background-image: url('../images/sky.jpg')
  background-size: cover
  background-position: 0 0
  background-repeat: no-repeat;
  font-size: 14px
  font-smoothing: antialias
  font-weight: 300
}