{
  "presets": [
    // [
    //   "minify",
    //   {
    //     "removeConsole": true
    //     "removeDebugger": true
    //   }
    // ],
    [
      "@babel/preset-env", 
      {
        "targets": "> 1%, not dead",
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2
      }
    ]
  ]
}